<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toko Kita</title>

    <link rel="shortcut icon" href="https://via.placeholder.com/50" type="image/x-icon">

    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="profile">
                <img src="https://via.placeholder.com/50" alt="Profile" class="profile-image">
                <span class="store-name">Toko Kita</span>
            </div>
        </header>

        <form action="" class="search-bar">
            <input type="hidden" name="category" value="{{ request('category') }}">
            <input type="text" class="search-input" placeholder="Cari menu..." value="{{ request('search') }}"
                name="search">
            <button class="search-button">
                <i class="fa-solid  fa-magnifying-glass"></i>
            </button>
        </form>

        <section class="menu-category">
            <div class="category-header">
                <h2 class="category-title">Kategori</h2>
            </div>
            <div class="category-tabs">
                <a href="" class="category-tab active">
                    <p>All</p>
                </a>
                <a class="category-tab " href="">
                    <p>Makanan</p>
                </a>
            </div>
        </section>

        <section class="menu-items">

            <div class="menu-card" data-id="1" data-name="Product 1" data-price="2000"
                data-description="Description for Product 1">
                <img src="https://via.placeholder.com/150" alt="Product 1" class="menu-image">
                <h3 class="menu-name">Product 1</h3>
                <p class="menu-price">Rp 2000</p>
            </div>
            <div class="no-menu-wrapper">
                <div id="lottie"></div>
                <p class="no-menu">Ga ada menu yang cocok dengan pencarianmu.</p>
            </div>
        </section>

        <a href="cart.html" class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <span class="cart-count">0</span>
        </a>

        <div id="product-modal" class="modal hidden">
            <div class="modal-content">
                <button class="close-modal">&times;</button>
                <div class="modal-body">
                    <img id="modal-image" src="" alt="Product Image" class="modal-image">
                    <h3 id="modal-name" class="modal-name"></h3>
                    <p id="modal-price" class="modal-price"></p>
                    <p id="modal-description" class="modal-description"></p>
                    <label for="modal-note">Note:</label>
                    <textarea id="modal-note" class="modal-note" placeholder="Write note..."></textarea>
                    <div class="quantity-control">
                        <button id="decrease-quantity" class="quantity-btn">-</button>
                        <span id="quantity" class="quantity">1</span>
                        <button id="increase-quantity" class="quantity-btn">+</button>
                    </div>
                    <button id="add-to-cart" class="add-to-cart-btn">Tambahkan ke Keranjang</button>
                </div>
            </div>
        </div>
    </div>

    <div id="cart-modal" class="modal hidden">
        <div class="modal-content">
            <button class="close-cart-modal">&times;</button>
            <h2>Daftar Keranjang</h2>
            <div id="cart-items" class="cart-items"></div>
            <div class="cart-summary">
                <p id="total-amount">Total: $0</p>
                <button id="checkout-btn" class="checkout-btn">Checkout</button>
            </div>
        </div>
    </div>


    <script src="assets/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
    <script>
        var animation = bodymovin.loadAnimation({
            container: document.getElementById('lottie'),
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: 'assets/lottie/not-found.json'
        })
    </script>

</body>

</html>