<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi Sukses</title>

    <link rel="stylesheet" href="assets/success.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h2>Transaksi Berhasil!</h2>
            <p>
                Tunjukkan <span style="font-weight: bold; color: #006400;">Kode Order</span> Anda kepada kasir untuk
                memproses pesanan.
            </p>

            <div class="transaction-code">
                <h3>Kode Transaksi</h3>
                <p>TRX-001</p>
            </div>

            <div class="order-details">
                <h3>Detail Pesanan</h3>
                <ul>
                    <li>
                        <span>Produk 1</span>
                        <span>x1</span>
                        <span style="font-weight: bold; color: #2d3748;">
                            Rp 2000
                        </span>
                    </li>
                </ul>
            </div>

            <div class="total-price">
                <p>Total Harga:</p>
                <span>Rp 2000</span>
            </div>

            <div class="back-button">
                <a href="">Kembali ke menu</a>
            </div>
        </div>
    </div>
</body>

</html>
